/*css for events goxes in index.html*/
.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.events div {
  background-color: #99A891; /*dark greenish gray*/
  margin: 30px;
  text-align: center;
  color: white;
}

.events h1 {
  color: white;
  font-size: 20px;
  line-height: 0.8;
}

.events p {
  color: white;
  font-size: 16px;
  line-height: 0.8;
}

/*css for the individual events*/
.eventsnav {
  display: flex;
  justify-content: space-between;
  min-width: 412px;
  background-color: #99A891; /*green so users can tell it's an event*/
}

.eventsnav div {
  /* background-color: white; got rid of white box around the individual events navbar*/
  margin: 10px;
  padding: 20px;
  font-size: 12px;
}

.eventsnav h1 {
  color: white;
  font-size: 20px;
}

.iconEvents { /* customizing icons for navigation bar*/
	color: white;
  font-size: 30px;
  align-items: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.eventsBox {
  background-color: #99A891; /*green so users can tell it's an event*/
}

.eventsbox div {
  margin: 20px;
  text-align: center;
  color: black;
}

.eventsbox h1 {
  color: black;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
}

.eventsbox p {
  color: black;
  font-size: 16px;
  text-align: left;
  line-height: 1;
}

button {
  background-color: #1B1F3B; /*dark blue*/
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#map_canvas { /* Must bigger size than 100x100 pixels */
  width: 90%;
  height: 400px;
