body {
  background-color: #DCDCDC
  border: 0;
  color: black;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  overflow: auto
}

.navBar {
  display: flex;
  justify-content: space-between;
  min-width: 412px;
  background-color: #BB8FCE;
}

.navBar div {
  background-color: #F1F1F1;
  margin: 10px;
  padding: 20px;
  font-size: 12px;
}

.navBar h1 {
  color: white;
  font-size: 32px;
}

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.events div {
  background-color: #8E44AD;
  margin: 30px;
  text-align: center;
  color: white;
  line-height: 75px;
  font-size: 15px;
}

.events h1 {
  color: white;
  font-size: 20px;
  line-height: 0.8;
}

.events p {
  color: white;
  font-size: 16px;
  line-height: 0.8;
}
