/*css for events goxes in index.html*/
.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.events div {
  background-color: #164741; /*dark green*/
  margin: 20px;
  text-align: center;
  color: white;
}

.events h1 {
  color: white;
  font-size: 20px;
  line-height: 0.8;
}

.events p {
  color: white;
  font-size: 16px;
  line-height: 0.8;
}

/*css for the individual events*/
.eventsnav {
  display: flex;
  justify-content: space-between;
  min-width: 412px;
  background-color: #164741; /*green so users can tell it's an event*/
}

.eventsnav div {
  margin: 10px;
  padding: 20px;
  font-size: 12px;
}

.eventsnav h1 {
  color: white;
  font-size: 25px;
}

.iconEvents { /* customizing icons for navigation bar*/
	color: #BDC696;
  font-size: 30px;
  align-items: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.eventsBox {
  background-color: #164741; /*green so users can tell it's an event*/
}

.eventsbox div {
  margin: 20px;
  text-align: center;
  color: #414351;
}

.eventsbox h1 {
  color: #414351;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
}

.eventsbox p {
  color: #414351;
  font-size: 16px;
  text-align: left;
  line-height: 1;
}

button {
  background-color: #99A891;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.fobevents { /* using for the Add Event button on index.html */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

#map_canvas { /* Must bigger size than 100x100 pixels */
  width: 90%;
  height: 400px;
