body {
  background-color: #DCDCDC /* Gray */
  border: 0;
  color: black;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navBar {
  overflow: hidden;
  background-color: #BB8FCE;
}

.navBar a {
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: sticky;
}

.btn {
  background-color: #FBFCFC;
  border: none;
  border-radius: 50%;
  color: black;
  margin: 5px 5px;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
}

.btn a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
}


#leftIcon { /* move to the left*/
  float: left;
}

#rightIcon { /* move to the right */
  float: right;
}
